Repository facupascale/sos: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 .

add cz
  .husky/prepare-commit-msg
  package.json
Due: prettier --write

add cz
  package.json
Due: prettier --write

add cz
  .husky/commit-msg
  app/(tabs)/two.tsx
  commitlint.config.cjs
  commitlint.config.js
Due: prettier --write, eslint --max-warnings 0 .

test cz and husky
  app/modal.tsx
Due: prettier --write, eslint --max-warnings 0 .

test cz
  .husky/commit-msg
Due: none

test cz
  app/modal.tsx
Due: prettier --write, eslint --max-warnings 0 .

test cz
  .husky/prepare-commit-msg
  components/EditScreenInfo.tsx
Due: prettier --write, eslint --max-warnings 0 .

feat(configuration): add cz, eslint, prettier, husky for coding format and standard commits msg
  app/modal.tsx
  components/EditScreenInfo.tsx
Due: prettier --write, eslint --max-warnings 0 .

refactor(config): remove unsued libraries/components, replace fonts
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  app/(tabs)/two.tsx
  app/+not-found.tsx
  app/_layout.tsx
  app/modal.tsx
  assets/fonts/Inter-Black.ttf
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-ExtraBold.ttf
  assets/fonts/Inter-ExtraLight.ttf
  assets/fonts/Inter-Light.ttf
  assets/fonts/Inter-Medium.ttf
  assets/fonts/Inter-Regular.ttf
  assets/fonts/Inter-SemiBold.ttf
  assets/fonts/Inter-Thin.ttf
  assets/fonts/SpaceMono-Regular.ttf
  components/EditScreenInfo.tsx
  components/ExternalLink.tsx
  components/StyledText.tsx
  components/Themed.tsx
  components/__tests__/StyledText-test.js
  components/useClientOnlyValue.ts
  components/useClientOnlyValue.web.ts
  components/useColorScheme.ts
  components/useColorScheme.web.ts
  constants/Colors.ts
  constants/fontSizes.ts
  constants/index.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 .

feat(auth flow): add login and register page
  app.json
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  app/_layout.tsx
  app/auth/_layout.tsx
  app/auth/login/_layout.tsx
  app/auth/register/_layout.tsx
  app/auth/register/createAccount/_layout.tsx
  app/auth/register/verification/_layout.tsx
  components/CustomText/index.tsx
  components/CustomTextInput/index.tsx
  components/index.ts
  constants/fontWeight.ts
  constants/index.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 .

feat: add nativewind === tailwindcss
  app/auth/login/_layout.tsx
  babel.config.js
  package.json
  tailwind.config.js
  types/nativewind-env.d.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 .

add fonts
  assets/fonts/Inter-Black.ttf
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-ExtraBold.ttf
  assets/fonts/Inter-ExtraLight.ttf
  assets/fonts/Inter-Light.ttf
  assets/fonts/Inter-Medium.ttf
  assets/fonts/Inter-Regular.ttf
  assets/fonts/Inter-SemiBold.ttf
  assets/fonts/Inter-Thin.ttf
  assets/fonts/Roboto-Medium.ttf
  assets/fonts/Roboto-MediumItalic.ttf
Due: none

add reusable components
  components/CustomButton/index.tsx
  components/CustomDivider/index.tsx
  components/CustomKeyboard/index.tsx
  components/CustomText/index.tsx
  components/CustomTextInput/index.tsx
  components/index.ts
Due: prettier --write, eslint --max-warnings 0 .

add auth structure and login screen
  app/_layout.tsx
  app/auth/login.tsx
  app/auth/login/_layout.tsx
  app/auth/register/_layout.tsx
  app/auth/register/index.tsx
  app/auth/register/verification.tsx
Due: prettier --write, eslint --max-warnings 0 .

add necessary constants
  constants/Colors.ts
  constants/fontWeight.ts
  constants/index.ts
Due: prettier --write, eslint --max-warnings 0 .

add nativewind 4 and tailwindcss
  babel.config.js
  global.css
  hooks/index.ts
  hooks/useFormInputs.ts
  metro.config.js
  package.json
  tailwind.config.js
  tsconfig.json
  types/constantsTypes.ts
  types/index.ts
  utils/index.ts
  utils/inputUtils.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 .

add modification in commit-msg
  .husky/commit-msg
Due: none

test husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

fix(husky): adapt to version 10 husky's files
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

feat(register): add register page and dynamics inputs refs
  .gitignore
  app/auth/login.tsx
  app/auth/register/_layout.tsx
  app/auth/register/index.tsx
  components/CustomDivider/index.tsx
  components/CustomText/index.tsx
  components/CustomTextInput/index.tsx
  constants/formInputs.ts
  constants/index.ts
  expo-env.d.ts
  hooks/index.ts
  hooks/useDynamicRefs.ts
  hooks/useFormInputs.ts
  types/formTypes.ts
  types/index.ts
Due: prettier --write, eslint --max-warnings 0 .

feat(verification page): add verification page
  .gitignore
  .lintstagedrc.json
  app/auth/register/_layout.tsx
  app/auth/register/verification.tsx
  constants/formInputs.ts
  package.json
  types/formTypes.ts
Due: prettier --write, eslint --max-warnings 0 .

feat(componente): create reusable modal component
  components/CustomModalState/index.tsx
  components/index.ts
Due: prettier --write, eslint --max-warnings 0 .

feat(a lot of changes): changes
  .gitignore
  api/firebase/auth.ts
  api/firebase/index.ts
  app.json
  app/(tabs)/_layout.tsx
  app/auth/login.tsx
  components/CustomTextInput/index.tsx
  expo-env.d.ts
  hooks/useFormInputs.ts
  nativewind-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
  utils/inputUtils.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 .

Path conditions:
  prettier --write: any of: *.{json,ts,tsx,js,jsx}
  eslint --max-warnings 0 .: any of: *.{ts,tsx,js,jsx}
